Repository TeamMOMBO/MOMBO-FE, pull requests merged in 2024-12, with the labels that each got.

#42 [Feat] 서버/ 클라이언트 환경 쿠키 인증 & 새 엑세스 토큰 갱신 로직 설정 #41
  package.json
  pnpm-lock.yaml
  public/svgs/arrow/icon-bottom.svg
  src/app/layout.tsx
  src/app/main/page.tsx
  src/app/test/page.tsx
  src/components/ingredient/ingredientItem.tsx
  src/components/onboarding/onboarding.tsx
  src/hooks/useImageAnalyzer.ts
  src/hooks/useLoginRedirect.ts
  src/middleware.ts
  src/shared/apis/auth.ts
  src/shared/apis/axiosInstance.ts
  src/shared/apis/ingredient.ts
  src/shared/apis/instance/clientAuthInstance.ts
  src/shared/apis/instance/publicInstance.ts
  src/shared/apis/interceptor/authInterceptor.ts
  src/shared/apis/profile.ts
  src/shared/types/auth.ts
  src/shared/types/axios.ts
  src/state/queries/user.ts
Labels: ✨ FEAT, 📝 DOCS, 🚀 API

#44 [Feature/design/#31] 검색 기능 추가
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/app/search/results/details/content/page.tsx
  src/app/search/results/details/dictionary/page.tsx
  src/app/search/results/details/layout.tsx
  src/app/search/results/layout.tsx
  src/app/search/results/page.tsx
  src/components/common/bar/searchbar/searchbar.tsx
  src/components/common/virtualList/virtualList.tsx
  src/components/faq/faqInfoItem.tsx
  src/components/search/header/searchResultHeader.tsx
  src/components/search/searchResults.tsx
  src/shared/apis/clientApi/search.client.ts
  src/shared/apis/instance/publicInstance.ts
  src/shared/apis/serverApi/search.server.api.ts
  src/shared/constants/queryOptions.ts
  src/shared/types/searchType.ts
  src/state/queries/search.ts
Labels: 💄 DESIGN, ✨ FEAT

#45 [Feature/#43] 메인 기능 구현
  public/svgs/icon-baby.svg
  public/svgs/icon-mom.svg
  src/app/content/layout.tsx
  src/app/content/page.tsx
  src/app/main/page.tsx
  src/components/common/bar/mainTopBar.tsx
  src/components/common/bar/navbar/navBar.tsx
  src/components/common/button/chipButton.tsx
  src/components/faq/faqInfoItem.tsx
  src/components/main/pregnancyInfoItem.tsx
  src/components/main/weekInfoItem.tsx
  src/shared/apis/main.ts
  src/shared/types/auth.ts
  src/shared/types/contents.ts
  src/shared/types/faq.ts
  src/shared/types/main.ts
  src/shared/types/searchType.ts
  src/state/queries/main.ts
Labels: ✨ FEAT, 🚀 API

#48 [Fix#47] : dynamic = "error" couldn't be rendered statically because it used searchParams.query 에러 수정
  src/app/search/page.tsx
  src/app/search/results/details/[keyword]/content/page.tsx
  src/app/search/results/details/[keyword]/dictionary/page.tsx
  src/app/search/results/details/content/page.tsx
  src/app/search/results/details/dictionary/page.tsx
  src/app/search/results/details/layout.tsx
  src/app/search/results/page.tsx
  src/components/common/bar/searchbar/searchbar.tsx
  src/components/common/loading/loadingSpinner.tsx
  src/components/search/searchResults.tsx
Labels: 🐛 BUGFIX, ✨ FEAT, 📝 DOCS

#50 Feat/design/#46/ingredients dictionary
  src/app/ingredient/dictionary/layout.tsx
  src/app/ingredient/dictionary/page.tsx
  src/components/common/bar/navbar/navBar.tsx
  src/components/ingredient/dictionary/dictionaryContent.tsx
  src/components/ingredient/dictionary/dictionaryHeader.tsx
  src/components/ingredient/ingredientItem.tsx
  src/hooks/useTab.ts
  src/hooks/useTextScrollAnimation.ts
  src/shared/apis/clientApi/ingredient/getIngredientDictionaryClient.ts
  src/shared/apis/serverApi/ingredient/getIngredientDictionaryServer.ts
  src/shared/types/ingredient.ts
  src/state/queries/ingredient.ts
Labels: 💄 DESIGN, ✨ FEAT

#51 [Feat/design/#49] 마이 페이지 구현
  public/svgs/arrow/icon-right.svg
  public/svgs/light/icon-check.svg
  src/app/(auth)/my/edit/layout.tsx
  src/app/(auth)/my/edit/page.tsx
  src/app/(auth)/my/layout.tsx
  src/app/(auth)/my/page.tsx
  src/components/common/bar/backTopBar.tsx
  src/components/common/dropdown/dropdown.tsx
  src/components/common/dropdown/item.tsx
  src/components/common/dropdown/menu.tsx
  src/components/common/dropdown/trigger.tsx
  src/components/my/accountOptions.tsx
  src/components/my/edit/profileEditForm.tsx
  src/components/my/modal/myPageModal.tsx
  src/components/my/myPageDetailsButton.tsx
  src/components/my/userIngrdientContent/userIngredientResult.tsx
  src/components/my/userIngrdientContent/useringredientResultList.tsx
  src/components/onboarding/onboardingItems/nickName.tsx
  src/hooks/useInput.ts
  src/shared/apis/auth.ts
  src/shared/apis/profile.ts
  src/shared/types/auth.ts
  src/shared/utils/validator.ts
  src/state/mutations/auth.ts
  src/state/queries/user.ts
Labels: 💄 DESIGN, ♻️ REFACTOR, ✨ FEAT, 🚀 API

#54 [Feat/Design/#38] 콘텐츠 페이지
  src/app/content/faq/[id]/layout.tsx
  src/app/content/faq/[id]/page.tsx
  src/app/content/layout.tsx
  src/app/content/page.tsx
  src/app/content/weekInfo/[id]/layout.tsx
  src/app/content/weekInfo/[id]/page.tsx
  src/app/main/page.tsx
  src/app/search/results/details/[keyword]/content/page.tsx
  src/components/common/bar/navbar/animatedNavBar.tsx
  src/components/content/contentCategoryList.tsx
  src/components/content/contentContainer.tsx
  src/components/content/faq/faqDetail.tsx
  src/components/content/faq/faqItem.tsx
  src/components/content/weekInfo/weekInfoItem.tsx
  src/components/content/weekInfoItem.tsx
  src/components/search/searchResults.tsx
  src/shared/styles/global.css
Labels: 💄 DESIGN, ♻️ REFACTOR, ✨ FEAT
