Repository TeamMOMBO/MOMBO-FE, pull requests merged in 2024-10, with the labels that each got.

#2 [Chore/#1] pwa 어플리케이션 설정
  package.json
  pnpm-lock.yaml
  public/bg.png
  public/firebase-messaging-sw.js
  public/icons/icon-96.png
  public/icons/icon-maskable-640.png
  public/icons/icon.svg
  public/service-worker.js
  src/app/layout.tsx
  src/app/manifest.ts
  src/firebase/index.ts
Labels: 📦 CHORE, ✨ FEAT

#6 [Refactor/#5] 알림설정 & 백그라운드 푸쉬 알림 로직 커스텀훅으로 분리
  public/firebase-messaging-sw.js
  public/svgs/icon-kakao.svg
  src/app/(auth)/layout.tsx
  src/app/(auth)/login/nickname/page.tsx
  src/app/(auth)/login/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/components/common/button/kakaoButton.tsx
  src/hooks/notification/useForegroundNotification.ts
  src/hooks/notification/useNotificationPermission.ts
  tailwind.config.ts
Labels: ✨ FEAT

#8 [Chore] main->develop 기준 브랜치 변경 작업
  next.config.mjs
  package.json
  pnpm-lock.yaml
  public/bg.png
  public/firebase-messaging-sw.js
  public/icons/icon-96.png
  public/icons/icon-maskable-640.png
  public/icons/icon.svg
  public/service-worker.js
  public/svgs/arrow/icon-left2.svg
  public/svgs/filled/icon-book.svg
  public/svgs/filled/icon-check.svg
  public/svgs/filled/icon-home.svg
  public/svgs/filled/icon-layers.svg
  public/svgs/filled/icon-scanner.svg
  public/svgs/filled/icon-user.svg
  public/svgs/icon-kakao.svg
  public/svgs/icon-logo.svg
  public/svgs/light/icon-bell.svg
  public/svgs/light/icon-search.svg
  src/app/(auth)/layout.tsx
  src/app/(auth)/login/nickname/page.tsx
  src/app/(auth)/login/page.tsx
  src/app/layout.tsx
  src/app/manifest.ts
  src/app/page.tsx
  src/components/common/bar/backTopBar.tsx
  src/components/common/bar/mainTopBar.tsx
  src/components/common/bar/navBar.tsx
  src/components/common/button/checkButton.tsx
  src/components/common/button/kakaoButton.tsx
  src/components/common/button/largeButton.tsx
  src/components/common/button/middleButton.tsx
  src/components/common/input.tsx
  src/components/common/modal.tsx
  src/firebase/index.ts
  src/hooks/notification/useForegroundNotification.ts
  src/hooks/notification/useNotificationPermission.ts
  src/hooks/useKeyDown.ts
  src/hooks/useTab.ts
  src/hooks/useToggle.ts
  src/shared/styles/global.css
  tailwind.config.ts
Labels: 📦 CHORE, ✨ FEAT

#11 [Refactor/#10]: 하단 navbar 리팩토링
  src/app/page.tsx
  src/components/common/bar/navBar.tsx
  src/components/common/bar/navbar/navBar.tsx
  src/components/common/bar/navbar/navBarItem.tsx
Labels: ♻️ REFACTOR, ✨ FEAT

#15 [Feat/Design] 온보딩 페이지 #14
  src/app/(auth)/layout.tsx
  src/app/(auth)/login/nickname/page.tsx
  src/app/(auth)/login/page.tsx
  src/app/(auth)/onboarding/page.tsx
  src/components/common/bar/backTopBar.tsx
  src/components/funnel/funnel.tsx
  src/components/funnel/step.tsx
  src/components/onboarding/onboarding.tsx
  src/components/onboarding/onboardingItems/nickName.tsx
  src/components/onboarding/onboardingItems/userType.tsx
  src/components/onboarding/onboardingItems/weeks.tsx
  src/hooks/funnel/useFunnel.tsx
  src/hooks/useInput.ts
  src/hooks/useTab.ts
  src/shared/constants/user.ts
  src/shared/types/auth.ts
  src/shared/utils/regex.ts
Labels: 💄 DESIGN, ✨ FEAT, 📝 DOCS

#17 [Feat] 소셜 로그인
  .env
  .gitignore
  src/app/(auth)/login/page.tsx
  src/app/(auth)/login/redirection/page.tsx
  src/hooks/useLoginRedirect.ts
Labels: ✨ FEAT

#19 [Feat/#9] 온보딩 페이지 useKeyDown 커스텀훅 적용
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
  src/components/onboarding/onboardingItems/nickName.tsx
  src/components/onboarding/onboardingItems/userType.tsx
  src/components/onboarding/onboardingItems/weeks.tsx
  src/hooks/useLoginRedirect.ts
Labels: ✨ FEAT

#20 [Design/#12] 메인 페이지 스타일링
  public/svgs/light/icon-eye.svg
  src/app/main/layout.tsx
  src/app/main/page.tsx
  src/components/common/bar/mainTopBar.tsx
  src/components/common/bar/navbar/navBar.tsx
  src/components/common/carousel/dragCarousel.tsx
  src/components/common/carousel/infiniteCarousel.tsx
  src/components/faq/faqInfoItem.tsx
  src/components/main/mainInfoItem.tsx
  src/components/main/progressBar.tsx
  src/components/main/weekInfoItem.tsx
  src/hooks/useCarousel.ts
  src/hooks/useCarouselSize.ts
  src/shared/styles/global.css
  src/shared/types/faq.ts
  src/shared/types/main.ts
  src/shared/utils/format.ts
Labels: 💄 DESIGN, ✨ FEAT

#24 [Feat/#21] 성분 분석 이미지 촬영 & 업로드 구현
  package.json
  pnpm-lock.yaml
  src/app/main/page.tsx
  src/components/common/bar/navbar/navBar.tsx
  src/components/common/dropdown/dropdown.tsx
  src/components/common/dropdown/item.tsx
  src/components/common/dropdown/menu.tsx
  src/components/common/dropdown/trigger.tsx
  src/hooks/useClickOutside.ts
Labels: ✨ FEAT

#25 [Feature/#16] 소셜 로그인
  package.json
  pnpm-lock.yaml
  src/app/(auth)/login/page.tsx
  src/shared/apis/axiosInstance.ts
Labels: ✨ FEAT

#27 [Init/26] 초기 랜딩페이지 경로 및 TanstackQueryProvider설정
  providers/tanstackQueryProvider.tsx
  src/app/layout.tsx
  src/app/main/page.tsx
  src/app/page.tsx
Labels: 🔧 INIT, ✨ FEAT

#29 [Feature/#28] 회원가입
  src/app/main/page.tsx
  src/components/main/pregnancyInfoItem.tsx
  src/components/onboarding/onboarding.tsx
  src/components/onboarding/onboardingItems/nickName.tsx
  src/components/onboarding/onboardingItems/pregnancyDate.tsx
  src/components/onboarding/onboardingItems/userType.tsx
  src/hooks/useLoginRedirect.ts
  src/shared/apis/auth.ts
  src/shared/types/auth.ts
  src/shared/types/main.ts
  src/state/mutations/auth.ts
  src/state/store/authStore.ts
Labels: ✨ FEAT, 🚀 API

#33 [Design/#30] 성분 분석 결과 페이지
  public/images/image-96.png
  public/images/image-ingredient.png
  public/images/image-maskable-640.png
  public/svgs/arrow/icon-cross.svg
  public/svgs/arrow/icon-expand.svg
  public/svgs/arrow/icon-gauge.svg
  public/svgs/icon-result-bar.svg
  public/svgs/icon.svg
  public/svgs/light/icon-info-circle.svg
  src/app/ingredient/result/page.tsx
  src/app/layout.tsx
  src/app/manifest.ts
  src/components/common/bar/topBar.tsx
  src/components/common/tooltip.tsx
  src/components/ingredient/ImagePreviewModal.tsx
  src/components/ingredient/ingredientItem.tsx
  src/shared/types/ingredient.ts
  src/shared/utils/format.ts
  src/shared/utils/format.tsx
  src/shared/utils/getArrowType.ts
Labels: 💄 DESIGN, ✨ FEAT

#35 Feature/design/#31/search
  public/svgs/filled/icon-cross.svg
  src/app/layout.tsx
  src/app/search/page.tsx
  src/app/search/results/details/content/page.tsx
  src/app/search/results/details/dictionary/page.tsx
  src/app/search/results/layout.tsx
  src/app/search/results/page.tsx
  src/components/common/bar/searchbar/searchbar.tsx
Labels: 💄 DESIGN, ✨ FEAT

#37 Feature/design/#31/search
  next.config.mjs
  public/svgs/filled/icon-cross.svg
  src/app/ingredient/result/page.tsx
  src/app/layout.tsx
  src/app/search/page.tsx
  src/app/search/results/details/content/page.tsx
  src/app/search/results/details/dictionary/page.tsx
  src/app/search/results/layout.tsx
  src/app/search/results/page.tsx
  src/components/common/bar/navbar/navBar.tsx
  src/components/common/bar/searchbar/searchbar.tsx
  src/components/ingredient/ingredientItem.tsx
  src/hooks/useImageAnalyzer.ts
  src/shared/apis/ingredient.ts
  src/shared/types/ingredient.ts
  src/shared/utils/getArrowType.ts
  src/state/store/IngredientAnalysisStore.ts
Labels: 💄 DESIGN, ✨ FEAT
